<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLe-hKXkFxL1rVDHtJQA8T2L-qP_HeHIA</string>
	<key>GCM_SENDER_ID</key>
	<string>339540582384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.QuispeMaqqueAbelSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-127be</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-127be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339540582384:ios:ea8a5133d9006be9024735</string>
</dict>
</plist>